@{
    ViewData["Title"] = "Library";
}

@model BookListViewModel

@foreach (var x in Model.Books)
{
    <partial name="BookSummary" model="x" />
}

<!--Footer for page navigation-->
<div class="container">
    <div class="row justify-content-center">
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
             class="btn-group m-1 col-4">
        </div>
    </div>
</div>
